*.class
/target/
.idea/
*.iml
*.iws
*.ipr
*.log
logs/
/src/main/webapp/META-INF/context.xml
*.war
*.ear
*.jar
work/
temp/
conf/catalina.policy
conf/catalina.properties
conf/context.xml
conf/jaspic-config.xml
conf/logging.properties
conf/server.xml
conf/web.xml
conf/tomcat-users.xml
conf/manager.xml
webapps/*.war
webapps/*.ear
webapps/*.jar
.DS_Store
Thumbs.db
*.bak
*.swp
*~